apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: examplenode-dev
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/manibratam1221/examplenode-dev'
    targetRevision: HEAD
    path: my-app
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: my-app
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true

